<div class="col-sm-8">

	<% 3.times do %>
		<div class="row well">
			<div class="container-fluid">
			  <h2 class="blog-post-title">What is Lost When Re-registering a VM</h2>
	            <p class="blog-post-meta">January 13, 2016 by <a href="#">Grasshopper</a></p>
				<div class="col-sm-6">
					<img src="http://vmkdaily.com/sites/default/files/styles/large/public/missing_puzzle-300x225.jpg?itok=OkYAqo5_" 
						class="img-responsive" alt="Responsive image">
				</div>

			<p>From time to time, as VMware admins we may be backed into a corner and have to re-register a VM.  Often this is due to total loss of storage which may result in some virtual machines becoming "orphaned" or "invalid".</p>
			<p>If you are forced to re-register a virtual machine, just be aware that there are certain things you may lose.  All of these can typically be documented via API before unregistering the VM (assuming your vCenter hasn't fallen off the map too).  Some of these seemingly trivial items can be critical for some companies.</p>

      <%= image_tag 'vnx.png', class: "img-responsive" %>
			<p><strong>Items Lost During VM Re-Registration:</strong><br />
			Performance Data<br />
			Tasks and Events<br />
			Blue Folder membership<br />
			Resource Pool Membership<br />
			vSphere Tags</p>
			<p>It should be noted that <a href="http://kb.vmware.com/kb/1026043">Reloading a VMX file without removing the virtual machine from inventory (KB 1026043) </a> can be used in some cases as an alternative to re-registering.  However, I do not recommend running that at scale.  It's best to have full control and focus on each asset you are recovering if you have a choice.</p>
			<p>In most cases, the conditions will be such that simply reloading the vmx (either from vim-cmd, PowerCLI, or any other technique) will simply result in an "Invalid Fault".  This could be the result of a corrupt inventory file on the ESXi host at /etc/vmware/vmInventory.xml (<a href="http://kb.vmware.com/kb/1007541">KB 1007541</a>) .  However, typically the solution involves removing / re-adding the host to inventory, and/or restarting Managent Agents.</p>
			<p>As a final note I will mention that there is no time like the present to brush up on this old topic of <a href="http://kb.vmware.com/kb/1003742">Orphan or Invalid VMs</a> as there is a new announcement today about <a href="http://kb.vmware.com/kb/2126021">APD issues in ESXi6</a>.  Since APDs are the leading cause of orphan / invalid VMs, please ensure that your valuable metadata such as vSphere Tags, Blue Folders, etc. are documented (i.e. export to csv from PowerCLI).</p>
			</div>
		</div>
	<% end %>


	<div class="row well">
		<div class="container-fluid">

            <h2 class="blog-post-title">Sample blog post</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

            <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
            <hr>
            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
		</div>
	</div>


</div>

