<div class="container col-sm-3 col-sm-offset-1 well">
	<h3 class="center">YouTube Channel</h3> <hr />

	<% 3.times do %>
		<div class="row">
		  <div class="col-xs-12">
		    <a href="#" class="thumbnail">
		     <img src="http://placehold.it/250x150">
		    </a>
		  </div>
		</div>
	<% end %>

	<p class="center">Load More</p>

</div>