<div class="center jumbotron">
	<h1>LoginBase</h1> <br />
	<p><i class="fa fa-desktop fa-5x"></i></p>
  <p><i class="fa fa-keyboard-o fa-3x"></i></p>
	<p>A base application providing user signup and login funcitonality.</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
