<div class="center jumbotron">
	<h1>Login App</h1>
	<p>A base application providing user signup and login funcitonality.</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
