<h1><%= link_to "justinwhite.co", root_url %></h1>

<p>Hi <%= @user.name %>,</p>

<p>
	Welcome to my website! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
																										email: @user.email) %>

<p>-Justin White</p>