<div class="row" id="rActivities">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-briefcase"></i> ACTIVITIES &amp; EXPERIENCES</strong></h2> <hr class="resume" />

				<dl class="pull-left col-sm-10">
				  <dt>DePaul University Silicon Valley Research Trip</dt>
				  	<ul>
					  <li>Joined Professor Olayele Adelakun to research and study the Silicon Valley Information Technology Cluster and tech startup culture  - <a href="http://facweb.cs.depaul.edu/yele/Course/Silicon/index.html" target="blank">Research Trip Class Page</a></li>
					  <li>Toured the headquarters of Facebook, Google, Yahoo!, eBay Now, Intel, Square Inc., Freewheel and Evernote</li>
					  <li>Met with executives, project managers and software engineers to gain a better perspective of the industry</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Silicoln Valley, CA</dt>
				  <dd>Summer 2013</dd>
				</dl>


				<dl class="pull-left col-sm-10">
				  <dt>The Starter League (Formerly Code Academy)</dt>
				  	<ul>
					  <li>Learning skills at a code boot camp including Ruby, Ruby on Rails, JavaScript, HTML, CSS, Git, and MySQL</li>
					  <li>Built business strength web applications, showcased them during ‘DemoDay’ to Chicago’s community</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Chicago, IL</dt>
				  <dd>Summer 2012</dd>
				</dl>

				<dl class="pull-left col-sm-10">
				  <dt>National Outdoor Leadership School (NOLS)</dt>
				  	<ul>
					  <li>Enhanced leadership and communication skills while experiencing the outback of Australia</li>
					  <li>Elected Leader of the Independent Student Group Expedition, leading four of my peers through the Outback for five days without instructors, received special recognition and letter of recommendation</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Broome, Australia</dt>
				  <dd>Winter - Spring 2011</dd>
				</dl>
	</div>
</div>