<div class="row" id="rEducation">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-graduation-cap"></i> EDUCATION</strong></h2> <hr class="resume" />
				<dl class="pull-left col-sm-10">
					<dt>DePaul University, College of Computing and Digital Media</dt>
					<dd><em>Bachelor of Science in Information Technology</em></dd>
				</dl>

				<dl class="pull-right col-sm-2">
					<dt>Chicago, IL</dt>
					<dd>March 2015</dd>
				</dl>
	</div>
</div>