<div class="row" id="rExperience">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-laptop"></i> EXPERIENCE</strong></h2> <hr class="resume" />

				<dl class="pull-left col-sm-10">
				  <dt>Basecamp</dt>
				  <dd><em>Programmer - Security, Infrastructure & Performance</em></dd>
				  	<ul>
					  <li>Launched a new email service, HEY, building out backend features such as a data deletion system, email bouncing system, and a protected action system to increase customer account security</li>
					  <li>Built an automated account notification, cancellation, and deletion system into our internal billing app, responsible for cleaning up over 1.5 million inactive accounts across a dozen products</li>
					  <li>Built a new-device-sign-in notification system into our login platform, used by all products</li>
					  <li>Received an achievement award for my ownership and work on data infrastructure at Basecamp</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Remote</dt>
				  <dd>September 2018 - July 2020</dd>
				</dl>

				<dl class="pull-left col-sm-10">
				  <dt>Basecamp</dt>
				  <dd><em>Data Engineer - Team Data</em></dd>
				  	<ul>
					  <li>Responsible for the development and maintenance of Basecamp’s entire Data Infrastructure platform, building ETL pipelines and data parsers, and working frequently with tools like Go, Ruby, Kafka, and Kubernetes</li>
					  <li>Lead the migration of the data infrastructure from on-premise hardware to Google Cloud Platform, modernizing technologies, and switching from custom code to open source projects where possible</li>
					  <li>Pioneered deployment of the central data platform Rails app to the cloud via Google Kubernetes Engine</li>
					  <li>Democratized “Big Data”, making data more transparent, accessible, and insightful for the entire company by introducing new systems of access and record like Kibana/Elasticsearch, BigQuery, and Grafana</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Remote</dt>
				  <dd>October 2016 - September 2018</dd>
				</dl>

				<dl class="pull-left col-sm-10">
				  <dt>Basecamp</dt>
				  <dd><em>Programming Intern</em></dd>
				  	<ul>
					  <li>Developed a search engine within Basecamp’s internal data dashboard to elevate operational data, making it easier to navigate, find data, and gain insights on application health and performance</li>
					  <li>Created internal tooling for Support and On Call to streamline common support scripts via a safe web UI</li>
					  <li>Overhauled the backend of a 13 year old internal billing application</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Remote</dt>
				  <dd>Summer 2016</dd>
				</dl>


				<dl class="pull-left col-sm-10">
				  <dt>Young Men’s Educational Network – YMEN</dt>
				  <dd><em>Project Manager &amp; Lead Developer Database Web Application</em></dd>
				  	<ul>
					  <li>Collaborated with others to create a private cloud system to store client records and data using Ruby on Rails</li>
					  <li>Organized and participated in meetings with the client and other stakeholders</li>
					  <li>Deployed the first Ruby on Rails web application on DePaul’s web servers</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Chicago, IL</dt>
				  <dd>Winter - Spring 2014</dd>
				</dl>


				<dl class="pull-left col-sm-10">
				  <dt>Digital Youth Network and Indiana University</dt>
				  <dd><em>Lead Developer Circuit Simulator Web Application</em></dd>
				  	<ul>
					  <li>Created a teen friendly web application working for both organizations in conjunction</li>
					  <li>Developed an interactive, online circuit simulator to teach pre-teen girls how to create e-textile circuits</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Chicago, IL</dt>
				  <dd>Winter 2014</dd>
				</dl>
	</div>
</div>