<div class="row" id="rExperience">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-laptop"></i> EXPERIENCE</strong></h2> <hr class="resume" />

				<dl class="pull-left col-sm-10">
				  <dt>Young Men’s Educational Network – YMEN</dt>
				  <dd><em>Project Manager &amp; Lead Developer Database Web Application</em></dd>
				  	<ul>
					  <li>Collaborated with others to create a private cloud system to store client records and data using Ruby on Rails</li>
					  <li>Organized and participated in meetings with the client and other stakeholders</li>
					  <li>Deployed the first Ruby on Rails web application on DePaul’s web servers</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Chicago, IL</dt>
				  <dd>Winter - Spring 2014</dd>
				</dl>


				<dl class="pull-left col-sm-10">
				  <dt>Digital Youth Network and Indiana University</dt>
				  <dd><em>Lead Developer Circuit Simulator Web Application</em></dd>
				  	<ul>
					  <li>Created a teen friendly web application working for both organizations in conjunction</li>
					  <li>Developed an interactive, online circuit simulator to teach pre-teen girls how to create e-textile circuits</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Chicago, IL</dt>
				  <dd>Winter 2014</dd>
				</dl>


				<dl class="pull-left col-sm-10">
				  <dt>Vector Marketing</dt>
				  <dd><em>Senior Sales Advisor</em></dd>
				  	<ul>
					  <li>Actively participated in daily intensive sales training conferences</li>
					  <li>Set weekly sales goals, met with customers, collected payments and managed sales records</li>
					  <li>Special recognition and letter of recommendation from Albert DiLeonardo, President of Vector East for outstanding sales; selling more than $11K in merchandise</li>
					</ul>
				</dl>
				<dl class="pull-right col-sm-2">
				  <dt>Northbrook, IL</dt>
				  <dd>May - Aug 2009</dd>
				</dl>
	</div>
</div>