<div class="row" id="rHeader">
	<div class="container center col-xs-12">
  	<br />


    <div class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "justinwhite.png", :class => "img-circle img-responsive center-block", :id =>"headerPic" %>
        </div>
      </div>
    </div>


  	<h1>James Justin White III <br /> <small> <ul class="list-unstyled"><li>Data + Programming</li><li><%= link_to "@Basecamp", "https://basecamp.com" %></li></ul></small> </h1>

  	 <h4>
  	 	<ul class="list-inline">
  				<li><i class="fa fa-map-marker"></i> Chicago, IL</li>
  				<li><i class="fa fa-envelope-o"></i> <a href="mailto:jjustinwhite@mac.com"> jjustinwhite@mac.com</a> </li>
  				<li><i class="fa fa-github-square"></i> <a href="http://www.github.com/jjustinwhite" target="blank"> GitHub</a></li>
  				<li><i class="fa fa-linkedin-square"></i> <a href="https://www.linkedin.com/in/jjustinwhite" target="blank"> LinkedIn </a> </li>
  		</ul>
  	 </h4>

      <a href="https://dl.dropboxusercontent.com/u/61119290/James%20White%20Resume%202016.pdf" target="blank" class="btn btn-default"><i class="fa fa-file-pdf-o"></i> Download résumé as .PDF</a> <br />

  	 <br />

	</div>
</div>


