<div class="row" id="rHeader">
	<div class="container center col-xs-12">
  	<br />


    <div class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "justinwhite.png", :class => "img-circle img-responsive center-block", :id =>"headerPic" %>
        </div>
      </div>
    </div>


  	<h1>James Justin White III <br /> <small> <ul class="list-unstyled"><li>Data Engineer & Web/Software Developer</li></ul></small> </h1>

  	 <h4>
  	 	<ul class="list-inline">
  				<li><i class="fa fa-map-marker"></i>&nbsp;Chicago, IL</li>
          <li><i class="fa fa-envelope"></i> <a href="mailto:justin@hey.com" target="blank">&nbsp;justin@hey.com</a></li>
          <li><i class="fa fa-github-square"></i> <a href="http://www.github.com/jjustinwhite" target="blank">&nbsp;GitHub</a></li>
          <li><i class="fa fa-linkedin-square"></i> <a href="https://www.linkedin.com/in/jjustinwhite/">&nbsp;LinkedIn</a> </li>
  				<li><i class="fa fa-instagram"></i> <a href="https://www.instagram.com/jjustinwhite/" target="blank">&nbsp;@jjustinwhite </a> </li>
  		</ul>
  	 </h4>

      <a href="https://public.3.basecamp.com/p/Mw8EECgGVESUXPRWkEv2A2DN/upload/download/James%20White%20Resume%202020.pdf?disposition=attachment" target="blank" class="btn btn-default"><i class="fa fa-file-pdf-o"></i> Download résumé as .PDF</a> <br />

  	 <br />

	</div>
</div>


