<div class="row" id="rInterests">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-tree"></i> INTERESTS</strong></h2> <hr class="resume" />
		<ul>
			<li>Certified Rescue Diver</li>
			<li>Backpacking and Hiking Expeditions (especially in Yosemite National Park)</li>
			<li>Photo Enthusiast</li>
		</ul>
	</div>
</div>