<div class="row" id="rSkills">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-code"></i> COMPUTER &amp; SOFTWARE SKILLS</strong></h2> <hr class="resume" />
		<dl class="dl-horizontal">
		  <dt>Experienced with:</dt>
		  <dd>Ruby, Java, Ruby on Rails, C#, ASP.NET, Python, HTML/CSS, Git, Amazon Web Services (EC2), SQL, Agile Development Methodologies (Scrum), Bootstrap, Software Project Management, WordPress, Drupal, Heroku Deployment</dd>

		  <dt>Familiar with:</dt>
		  <dd>Objective-C, C++, PHP, JavaScript, jQuery, MySQL, PostgreSQL, SQLite, Web API’s, Linux</dd>
		</dl>
	</div>
</div>