<div class="row" id="rSkills">
	<div class="container col-xs-12">
		<h2 class="resume"><strong><i class="fa fa-code"></i> COMPUTER &amp; SOFTWARE SKILLS</strong></h2> <hr class="resume" />
		<dl class="dl-horizontal">
		  <dt>Experienced with:</dt>
		  <dd>Ruby, Go, Rails, Kafka, Kubernetes, Google Cloud Platform (BigQuery, GKE, GCE, CloudSQL, BigTable, GCS, Stackdriver), StatsD, Elasticsearch, Docker, Hadoop, HDFS, HBase, Impala, Redis, SQL, MySQL, PostgreSQL, Tableau, Resque, Regex, Postfix, AWS (ECS, EKS, S3, EC2), Git, Working Remotely</dd>

		  <dt>Familiar with:</dt>
		  <dd>Java, Scala, Python, GCP (Dataflow, Pub/Sub), OpenTSDB, JavaScript, jQuery, CoffeeScript, Ajax, Graphite, Highcharts, Nagios, Nginx, Logspout, Unicorn, Objective-C, C++, C#, ASP.NET</dd>
		</dl>
	</div>
</div>