<div class="row" id="p2014">
	<div class="container col-xs-12">
			<h1 class="page-header"> 2014 </h1>
			<!-- Projects Row -->
	        <div class="row">
	       		<div class="col-md-4 portfolio-item">
	                <a href="#" target="blank">
						<%= image_tag "beer.png", :class => "img-responsive img-rounded pic"%>
	                </a>
	                <h3>
	                    <a href="#" target="blank">The Beer Store</a>
	                </h3>
	                <p>An e-Commerce storefront to learn about and purchase craft beers. Built using ASP.NET and C#. (Currently offline)</p>
	            </div>
	        	<div class="col-md-4 portfolio-item">
	                <a href="http://ymen.herokuapp.com/" target="blank">
						<%= image_tag "ymen.png", :class => "img-responsive img-rounded pic"%>
	                </a>
	                <h3>
	                    <a href="http://ymen.herokuapp.com/" target="blank">YMEN Database</a>
	                </h3>
	                <p>Private cloud database for Youth Men's Education Network of Chicago (YMEN) to utilize. Provides cloud access to records for all staff to use. Created in Ruby on Rails.</p>
	            </div>
	            <div class="col-md-4 portfolio-item">
	                <a href="https://dl.dropboxusercontent.com/u/61119290/public_html/index.html" target="blank">
						<%= image_tag "circuits.png", :class => "img-responsive img-rounded pic"%>
	                </a>
	                <h3>
	                    <a href="https://dl.dropboxusercontent.com/u/61119290/public_html/index.html" target="blank">Circuit Simulator</a>
	                </h3>
	                <p>A teen friendly web application developed to teach girls how to create e-textile circuits. Created using GameMaker Studio and HTML5. (Broken in Chrome)</p>
	            </div>
	            <div class="col-md-4 portfolio-item">
						<%= image_tag "stormios.png", :class => "img-responsive img-rounded pic" %>
	                <h3>
	                    <a href="#">Where's the Storm? iOS</a>
	                </h3>
	                <p>An iOS application based off of the Where's the Storm project, developed using many of iOS's core API functionality to improve the Where's the Storm experience.</p>
	            </div>

	        </div>

	        <br />
	        <!-- /.row -->
	</div>
</div>