<div class="row" id="p2015">
	<div class="container col-xs-12">
			<h1 class="page-header"> 2015 </h1>
			<!-- Projects Row -->
	        <div class="row">
	            <div class="col-md-4 portfolio-item">
	                <a href="http://www.storm.ly/" target="blank">
	                    <%= image_tag "stormly.png", :class => "img-responsive img-rounded"%>
	                </a>
	                <h3>
	                    <a href="http://www.storm.ly/" target="blank">Storm.ly</a>
	                </h3>
	                <p>A beautiful and fun webapp made for storm lovers, by storm lovers. Storm.ly makes use of the forecast.io API to present up to the minute weather!</p>
	                <br />
	            </div>

	            <div class="col-md-4 portfolio-item">
	                <a href="http://www.16photos.co/" target="blank">
	                    <%= image_tag "16photos.png", :class => "img-responsive img-rounded"%>
	                </a>
	                <h3>
	                    <a href="http://www.16photos.co/" target="blank">16photos</a>
	                </h3>
	                <p>16photos is a simple website to create bite-sized photo albums to tell your stories. Created in Ruby on Rails</p>
	                <br />
	            </div>


	        </div>
	        <!-- /.row -->

	</div>
</div>