<div class="row" id="p2013">
	<div class="container col-xs-12">
		<h1 class="page-header"> 2013 </h1>
			<!-- Projects Row -->
	        <div class="row">
	            <div class="col-md-4 portfolio-item">
	                <a href="http://www.wheresthestorm.com/" target="blank">
						<%= image_tag "storm.png", :class => "img-responsive img-rounded"%>
	                </a>
	                <h3>
	                    <a href="http://www.wheresthestorm.com/" target="blank">Where's the Storm?</a>
	                </h3>
	                <p>A weather forcasting webapp to show you where the nearest storm is. Currently shows the weekly weather. Lovingly crafted over a weeked in Ruby on Rails.</p>
	            </div>
	            <div class="col-md-4 portfolio-item">
	                <a href="https://game-db.herokuapp.com/" target="blank">
						<%= image_tag "game.png", :class => "img-responsive img-rounded"%>
	                </a>
	                <h3>
	                    <a href="https://game-db.herokuapp.com/" target="blank">GameDB</a>
	                </h3>
	                <p>An online database of all video game knowledge. Search to learn more about your favorite games. Uses the GiantBomb Game Databse API to retrieve game information.</p>
	            </div>
	        </div>
	        <br />
	        <!-- /.row -->
	</div>
</div>