<div class="row" id="p2016">
  <div class="container col-xs-12">
      <h1 class="page-header"> 2016 </h1>
      <!-- Projects Row -->
          <div class="row">
              <div class="col-md-4 portfolio-item">
                  <a href="http://www.basecamp.com/" target="blank">
                      <%= image_tag "basecamp.png", :class => "img-responsive img-rounded"%>
                  </a>
                  <h3>
                      <a href="http://www.basecamp.com/" target="blank">Basecamp: Dash</a>
                  </h3>
                  <p>Contributed work on a private internal tool called Dash! </p>
                  <br />
              </div>

              <div class="col-md-4 portfolio-item">
                  <a href="http://anyfare.herokuapp.com" target="blank">
                      <%= image_tag "anyfare.png", :class => "img-responsive img-rounded"%>
                  </a>
                  <h3>
                      <a href="http://anyfare.herokuapp.com" target="blank">Anyfare</a>
                  </h3>
                  <p>Anyfare. Anywhere. We help you find last minute travel deals to popular destinations!  Created in Ruby on Rails.</p>
                  <br />
              </div>


          </div>
          <!-- /.row -->

  </div>
</div>