/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

@media (min-width: 601px) {
  body#siteBackground {
    background: url(http://i.imgur.com/baVXo8q.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
  }
}

@media screen and (max-width: 600px) {
  .html-mobile-background {      
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%; /* To compensate for mobile browser address bar space */
    background: url(http://i.imgur.com/Ni6plzz.png) no-repeat; 
    background-size: cover;
    
  }
}