// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* about content */

#about1 {
	background: rgba(244,244,244, .90);
	-webkit-transform: translate3d(0,0,0);
	border: none;
}

#about2 {
	background: rgba(231,231,231, .90);
	-webkit-transform: translate3d(0,0,0);
	border: none;
}

#about3 {
	background: rgba(219,219,219, .90);
	-webkit-transform: translate3d(0,0,0);
	border: none;
}